
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 10vb;
    background-color: aquamarine;
}
.nav1{
    width: 30%;
    height: 10vb;
    border: 1px solid aquamarine;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2{
    width: 50%;
    height: 10vb;
    border: 1px solid  aquamarine;
    float: right;
    display: flex;
    justify-content: space-around;
    padding: 20px 80px;
}

.nav1 h1{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(226, 43, 43);
}

.nav2 a{
 
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
 
}

.home{
    width: 100%;
    height: 100vb;
    display: flex;
}

.home1{
    width: 60%;
    height: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.home11{
    width: 650px;
    height: 550px;
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10px;
}

.home11 img{
    width: 100%;
    height: 100%;
}

.maindiv{
    position: relative;
  
}

.maindiv>img{  
    width: 100%;
    height: 100%;
    display: block;
}


.sidediv{
    position: absolute;
    overflow: hidden;
    background-color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: .5s ;

}

.maindiv:hover .sidediv{
    height: 100%;
    opacity: 0.5;
}

.maindiv:hover .underdiv{
   opacity: 1;
    
}

.underdiv{
    position: absolute;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.underdiv a{
    
    text-decoration: none;
}

.underdiv button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 5, 8);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 5px 2px rgb(0, 0, 1)28, 28, 35);
}




.home12{

}
.home13{
    
}
.home14{
   
}
.home15{
   
}

.home2{

    width: 40%;
    height: 100vb;
    
}

.home2 img{ 
    width: 100%;
    height: 100vb;
}


.menh{
    margin-top: 100px;
    margin-bottom:50px ;
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
} 

.men{
    width: 80%;
    margin-left: 10%;
    height: 900px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px 10px;
}

.men .men1 img{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 5%; 
    transition: 0.5s;
} 

.men .men1{
    width: 250px;
    height: 400px;
    background-color: rgb(221, 219, 216);
    box-shadow: 2px 3px 7px black;
    

}

.men .men11{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
.men .men11 button{
    background-color:rgb(105, 108, 193) ;
    color:whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.men1 img:hover{
    transform: scale(1.05);

}

.abouth{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}
.abouth span{
    font-family: cursive;
    color: rgb(226, 43, 43);
}

.about{
    width: 90%;
    height: 70vb;
    background-color: aliceblue;
    border-radius: 10%;
    margin-left: 5%;
    display: flex;
    box-shadow: 2px 3px 5px rgb(1, 0, 0);

}

.about1{
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding: 50px;

}
.about1 h2{
    margin-top: 100px;
    color: rgb(224, 73, 73);
    font-size: 35px;

}
.about1 p{
    margin-top: 10px;

    
}
.about1 button{
    background-color: rgb(7, 7, 32);
    color: chartreuse;
    width: 100px;
    height: 30px;
    border-radius: 30px 10px;
    margin-top: 10px

    
}
.about2{
    width: 40%;
    
}
.about2 img{
    width: 100%;
    height: 100%;
    padding: 50px;
    
}

.contacth{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    color: blue;
}

.contacth span{
    font-family: cursive;
    color: rgb(226, 43, 43);
}

.contact{
    width: 70%;
    height: 100vb;
    margin-left: 15%;
    box-shadow: 2px 2px 4px black;
    background-color: aliceblue;
    padding-left: 160px;
    padding-top: 40px;
}
.contact1{
    margin-bottom: 15px;
}
.contact label{

   font-size: 20px;
   font-weight: bold;
   
}

.contact input{
    width: 600px;
    height: 30px;
    border: none;
}

.contact textarea{
  
    border: none;
}

.last{
    width: 100%;
    height:200px;
    background-color: #000000;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.last1{

    color: aliceblue;
    padding: 30px;
  

}
.last1 h2{

    color: aliceblue;
    margin-bottom: 0px;
  

}
.last1 i{

    color: rgb(82, 85, 255);
    padding: 5px;

}
.last1 a{

    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;

}


.last2{
 
padding-left: 15px;
}
.last2 h2{
   color: aliceblue;

   margin-top: 20px;
   margin-bottom: 15px;

}
.last2 a{
   display: block;
   padding: 3px;
   text-decoration: none;
   color: aliceblue;
   padding-left: 15px;

}
.last3{
    float: right;
    padding-left: 50px;
   

}
.last3 h2{
   color: aliceblue;

   padding-right: 90px;
   margin-top: 30px;


}
.last3 h3{
    color: rgb(50, 145, 227);
   right: 0;
   margin-top: 30px;
}
.last3 h4{
    color: rgb(50, 145, 227);
    right: 0;
    margin-top: 10px;

 }